/* Custom styles */

body {
    font-family: "Helvetica Neue", Helvetica, Arial;
    width: 600px;
    margin: 40px auto;
    font-size: 15px;
    line-height: 1.4em;
}

h3 {
    font-size: 18px;
    border-top: solid 1px #ddd;
    padding: 20px 0 0 0;
    margin: 20px 0 0 0;
}

p {
    color: #333;
}

svg {
    border: solid 1px #ddd;
}

svg text {
    text-anchor: middle;
    font-size: 16px;
    font-family: Helvetica;
}

blockquote {
    margin-left: 0px;
    margin-right: 0px;
}

.note {
    color: #999;
}

.bookmarklet {
    padding: 5px 20px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 2em;
    background: rgb(18, 57, 130);
    color: white;
}

#svg-sample {
    text-align: center;
    margin: 40px 0px 0px;
}
